.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  width: 860px;
  /* overflow: scroll;
  max-height:700px; */
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel {
  background: #e5e7eb;
}
